* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  background: rgb(1, 3, 79);
  color: #fff;
}

#game {
  font-size: 40px;
  margin: auto;
}

.name-game {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

.top,
.bottom {
  text-align: left;
}

.main {
  background: #fff;
  width: 300px;
  height: 600px;
  font-size: 0;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(148, 147, 147);
  display: inline-block;
}

.cellPrev {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.movingCell {
  background-color: blue;
}

.fixedCell {
  background-color: rgb(79, 79, 79);
}

#next-figure {
  font-size: 0;
}

#game-over {
  font-size: 45px;
  font-weight: 800;
  color: rgb(255, 0, 0);
  text-align: center;
  display: none;
  position: absolute;
  top: 30%;
  background: rgb(102, 193, 253);
}

/* #strat {
  padding: 10px;
  margin: 10px;
} */

.container1 {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 320px 160px auto;
}

.container2 {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 320px 160px auto;
}

.container3 {
  padding: 10px;
  display: grid;

  grid-template-rows: 100px 50px 50px;
}

[class^="box-"] {
  display: grid;
  place-items: top;
  padding: 10px;
}

.bottom {
  place-items: bottom;
}

.btn {
  font-weight: 800;
  color: blue;
  display: grid;
  margin: 5px 0;
  grid-template-columns: auto;
  width: 100%;
  padding: 5px;
}

.score {
  font-weight: 800;
  font-size: medium;
  margin: 5px;
}
